<p style="font-family: Arial; font-size:3.75em;color:purple; font-style:bold"><br>
Pandas</p><br>

*pandas* is a Python library for data analysis. It offers a number of data exploration, cleaning and transformation operations that are critical in working with data in Python. 

*pandas* build upon *numpy* and *scipy* providing easy-to-use data structures and data manipulation functions with integrated indexing.

The main data structures *pandas* provides are *Series* and *DataFrames*. After a brief introduction to these two data structures and data ingestion, the key features of *pandas* this notebook covers are:
* Generating descriptive statistics on data
* Data cleaning using built in pandas functions
* Frequent data operations for subsetting, filtering, insertion, deletion and aggregation of data
* Merging multiple datasets using dataframes
* Working with timestamps and time-series data

In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

<p style="font-family: Arial; font-size:1.75em;color:#2462C0; font-style:bold"><br>

Import Libraries
</p>

In [2]:
import pandas as pd # pandas
import numpy as np #Numpy

<p style="font-family: Arial; font-size:1.75em;color:#2462C0; font-style:bold">
Introduction to pandas Data Structures</p>
<br>
*pandas* has two main data structures it uses, namely, *Series* and *DataFrames*. 

<p style="font-family: Arial; font-size:1.75em;color:#2462C0; font-style:bold">
pandas Series</p>

*pandas Series* one-dimensional labeled array.

In [4]:
#Series is one-dimensional array of indexed data. The index can be explicitly defined: pd.Series(data, index = index)
ser1=pd.Series([0.25,0.5,0.75,1])
ser1
ser = pd.Series([100, 'foo', 300, 'bar', 500], ['tom', 'bob', 'nancy', 'dan', 'eric'])
ser

tom      100
bob      foo
nancy    300
dan      bar
eric     500
dtype: object

In [5]:
#Get the values
ser.index
ser.values

array([100, 'foo', 300, 'bar', 500], dtype=object)

In [6]:
#You may construct a series from python dictionary.
population_dict={'California':38332521,
                'Texas':26448193,
                'New York':19651127,
                'Florida':19552860,
                'Illinois':12882135}
population=pd.Series(population_dict) # series
population
#The difference is that series has specified types for both data and index

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [7]:
#To access elements of series
ser[['nancy','bob']]
ser[[4, 3, 1]]
#To avoid confusion. We use loc[] or iloc[] to access.
ser.loc[['nancy','bob']]
ser.iloc[1]

'foo'

In [8]:
#Check whether items in series
'bob' in ser

True

In [3]:
#Operations on series
ser * 2

NameError: name 'ser' is not defined

In [ ]:
ser[['nancy', 'eric']] ** 2

<p style="font-family: Arial; font-size:1.75em;color:#2462C0; font-style:bold">
pandas DataFrame</p>

*pandas DataFrame* is a 2-dimensional labeled data structure.

<p style="font-family: Arial; font-size:1.25em;color:#2462C0; font-style:bold">
Create DataFrame from Python dictionary of pd series</p>

In [10]:
d = {'one' : pd.Series([100., 200., 300.], index=['apple', 'ball', 'clock']),
     'two' : pd.Series([111., 222., 333., 4444.], index=['apple', 'ball', 'cerill', 'dancy'])}
df = pd.DataFrame(d)
print(df)

          one     two
apple   100.0   111.0
ball    200.0   222.0
cerill    NaN   333.0
clock   300.0     NaN
dancy     NaN  4444.0

In [11]:
#Access the data
df.index

Index(['apple', 'ball', 'cerill', 'clock', 'dancy'], dtype='object')

In [12]:
df.columns

Index(['one', 'two'], dtype='object')

In [ ]:
#Create a state data frame
area_dict={'California':423967,
                'Texas':695662,
                'New York':141297,
                'Florida':170312,
                'Illinois':12882135}
area=pd.Series(area_dict)
area

states=pd.DataFrame({'population' : population,
                   'area': area})
states

In [13]:
#Create with specified elements
pd.DataFrame(d, index=['dancy', 'ball', 'apple'])

         one     two
dancy    NaN  4444.0
ball   200.0   222.0
apple  100.0   111.0

In [14]:
pd.DataFrame(d, index=['dancy', 'ball', 'apple'], columns=['two', 'five'])

          two five
dancy  4444.0  NaN
ball    222.0  NaN
apple   111.0  NaN

<p style="font-family: Arial; font-size:1.25em;color:#2462C0; font-style:bold">
Create DataFrame from list of Python dictionaries</p>

In [15]:
data = [{'alex': 1, 'joe': 2}, {'ema': 5, 'dora': 10, 'alice': 20}]

In [16]:
pd.DataFrame(data)

   alex  alice  dora  ema  joe
0   1.0    NaN   NaN  NaN  2.0
1   NaN   20.0  10.0  5.0  NaN

In [ ]:
pd.DataFrame(data, index=['orange', 'red'])

In [17]:
pd.DataFrame(data, columns=['joe', 'dora','alice'])

   joe  dora  alice
0  2.0   NaN    NaN
1  NaN  10.0   20.0

<p style="font-family: Arial; font-size:1.25em;color:#2462C0; font-style:bold">
Create DataFrame from a 2-dimensional np arrays</p>

In [ ]:
#np.random.randn(d0,d1,d2……dn) 
#1)当函数括号内没有参数时，则返回一个浮点数； 
#2）当函数括号内有一个参数时，则返回秩为1的数组，不能表示向量和矩阵； 
#3）当函数括号内有两个及以上参数时，则返回对应维度的数组，能表示向量或矩阵； 
#4）np.random.standard_normal（）函数与np.random.randn()类似，但是np.random.standard_normal（）
#的输入参数为元组（tuple）. 
#5)np.random.randn()的输入通常为整数，但是如果为浮点数，则会自动直接截断转换为整数。

In [19]:
pd.DataFrame(np.random.rand(3,2),     # 生成三行两列矩阵
            columns=['foo','bar'],
            index=['a','b','c'])

        foo       bar
a  0.474939  0.760251
b  0.794080  0.296219
c  0.159828  0.650130

<p style="font-family: Arial; font-size:1.25em;color:#2462C0; font-style:bold">
Basic DataFrame operations</p>

In [20]:
df

          one     two
apple   100.0   111.0
ball    200.0   222.0
cerill    NaN   333.0
clock   300.0     NaN
dancy     NaN  4444.0

In [25]:
#To access rows and columns
df['one']

apple     100.0
ball      200.0
cerill      NaN
clock     300.0
dancy       NaN
Name: one, dtype: float64

In [26]:
df.values[0]

array([100., 111.])

In [27]:
#Create new variables
df['three'] = df['one'] * df['two']
df
three = df.pop('three')
three

apple     11100.0
ball      44400.0
cerill        NaN
clock         NaN
dancy         NaN
Name: three, dtype: float64

In [28]:
df['flag'] = df['one'] > 250
df

          one     two   flag
apple   100.0   111.0  False
ball    200.0   222.0  False
cerill    NaN   333.0  False
clock   300.0     NaN   True
dancy     NaN  4444.0  False

In [2]:
df['one_upper_half'] = df['one'][:2]
df

NameError: name 'df' is not defined

In [31]:
states['density'] = states['population']/states['area']
states

NameError: name 'states' is not defined

In [1]:
del df['two']
df

NameError: name 'df' is not defined

In [ ]:
df.insert(2, 'copy_of_one', df['one'])
df

In [ ]:
states.iloc[:3, :2]
states.loc['California',:]

<p style="font-family: Arial; font-size:1.75em;color:#2462C0; font-style:bold">
Case Study: Movie Data Analysis</p>
<br>This notebook uses a dataset from the MovieLens website. We will describe the dataset further as we explore with it using *pandas*. 

## Download the Dataset

Please note that **you will need to download the dataset**. 

Here are the links to the data source and location:
* **Data Source:** MovieLens web site (filename: ml-20m.zip)
* **Location:** https://grouplens.org/datasets/movielens/

<p style="font-family: Arial; font-size:1.75em;color:#2462C0; font-style:bold">
Use Pandas to Read the Dataset<br>
</p>
<br>
In this notebook, we will be using three CSV files:
* **ratings.csv :** *userId*,*movieId*,*rating*, *timestamp*
* **tags.csv :** *userId*,*movieId*, *tag*, *timestamp*
* **movies.csv :** *movieId*, *title*, *genres* <br>

Using the *read_csv* function in pandas, we will ingest these three files.

In [4]:
movies = pd.read_csv('./movielens/movies.csv', sep=',')
print(type(movies))
movies.head(15)
#movies.set_index('movieId')

NameError: name 'pd' is not defined

In [ ]:
import pandas as pd
import os

In [ ]:
# Timestamps represent seconds since midnight Coordinated Universal Time (UTC) of January 1, 1970

tags = pd.read_csv('./movielens/tags.csv', sep=',')
tags.head()
tags = tags.set_index(['userId','movieId'])
tags.head()

In [ ]:
ratings = pd.read_csv('./movielens/ratings.csv', sep=',') #parse_dates=['timestamp'])
ratings.head()

In [ ]:
# For current analysis, we will remove timestamp

del ratings['timestamp']
del tags['timestamp']

<h1 style="font-size:2em;color:#2467C0">Data Structures </h1>

<h1 style="font-size:1.5em;color:#2467C0">Series</h1>

In [ ]:
#Extract 0th row: notice that it is infact a Series

row_0 = tags.iloc[0]
type(row_0)
row_0
column_0=tags.iloc[:,0:2]
column_0

In [ ]:
#column and row names
row_0.index
row_0.name

In [ ]:
row_0 = row_0.rename('first_row')
row_0.name

In [ ]:
'rating' in row_0

<h1 style="font-size:1.5em;color:#2467C0">DataFrames </h1>

In [ ]:
tags.index

In [ ]:
tags.columns

In [ ]:
# Extract row 0, 11, 2000 from DataFrame

tags.iloc[ [0,11,2000] ]
tags.iloc[:3,:2]

<h1 style="font-size:2em;color:#2467C0">Descriptive Statistics</h1>

Let's look how the ratings are distributed!

In [ ]:
ratings['rating'].describe()

In [ ]:
ratings.describe()

In [ ]:
ratings['rating'].mean()

In [ ]:
ratings.mean()

In [ ]:
ratings['rating'].min()

In [ ]:
ratings['rating'].max()

In [ ]:
ratings['rating'].std()

In [ ]:
ratings['rating'].mode()

In [ ]:
ratings.corr()

In [ ]:
filter_1 = ratings['rating'] > 5
print(filter_1)
type(filter_1)
filter_1.any()

In [ ]:
filter_2 = ratings['rating'] > 0
filter_2.all()

<h1 style="font-size:2em;color:#2467C0">Data Cleaning: Handling Missing Data</h1>

In [ ]:
movies.shape

In [ ]:
#is any row NULL ?

movies.isnull().any()

Thats nice ! No NULL values !

In [ ]:
ratings.shape

In [ ]:
#is any row NULL ?

ratings.isnull().any()

Thats nice ! No NULL values !

In [ ]:
tags.shape

In [ ]:
#is any row NULL ?

tags.isnull().any()

We have some tags which are NULL.

In [ ]:
tags = tags.dropna()

In [ ]:
#Check again: is any row NULL ?

tags.isnull().any()

In [ ]:
tags.shape

Thats nice ! No NULL values ! Notice the number of lines have reduced.

<h1 style="font-size:2em;color:#2467C0">Data Visualization</h1>

In [ ]:
%matplotlib inline

ratings.hist(column='rating', figsize=(15,10))

In [ ]:
ratings.boxplot(column='rating', figsize=(15,20))

<h1 style="font-size:2em;color:#2467C0">Slicing Out Columns</h1>

In [ ]:
tags['tag'].head()

In [ ]:
movies[['title','genres']].head()

In [ ]:
ratings[-10:]

In [ ]:
tag_counts = tags['tag'].value_counts()
tag_counts[:10]
tag_counts[-10:]

In [ ]:
tag_counts[:10].plot(kind='bar', figsize=(15,10))

<h1 style="font-size:2em;color:#2467C0">Filters for Selecting Rows</h1>

In [ ]:
is_highly_rated = ratings['rating'] >= 4.0

ratings[is_highly_rated][30:50]

In [ ]:
is_animation = movies['genres'].str.contains('Animation')

movies[is_animation][5:15]

In [ ]:
movies[is_animation].head(15)

<h1 style="font-size:2em;color:#2467C0">Group By and Aggregate </h1>

In [ ]:
ratings_count = ratings[['movieId','rating']].groupby('rating').count()
ratings_count

In [ ]:
average_rating = ratings[['movieId','rating']].groupby('movieId').mean()
average_rating.head()

In [ ]:
movie_count = ratings[['movieId','rating']].groupby('movieId').count()
movie_count.head()

In [ ]:
movie_count = ratings[['movieId','rating']].groupby('movieId').count()
movie_count.tail()

<h1 style="font-size:2em;color:#2467C0">Merge Dataframes</h1>

In [ ]:
tags.head()

In [ ]:
movies.head()

In [ ]:
t = movies.merge(tags, on='movieId', how='inner')
t.head()

More examples: http://pandas.pydata.org/pandas-docs/stable/merging.html

<p style="font-family: Arial; font-size:1.75em;color:#2462C0; font-style:bold"><br>


Combine aggreagation, merging, and filters to get useful analytics
</p>

In [ ]:
avg_ratings = ratings.groupby('movieId', as_index=False).mean()
del avg_ratings['userId']
avg_ratings.head()

In [ ]:
box_office = movies.merge(avg_ratings, on='movieId', how='inner')
box_office.tail()

In [ ]:
is_highly_rated = box_office['rating'] >= 4.0

box_office[is_highly_rated][-5:]

In [ ]:
is_comedy = box_office['genres'].str.contains('Comedy')

box_office[is_comedy][:5]

In [ ]:
box_office[is_comedy & is_highly_rated][-5:]

<h1 style="font-size:2em;color:#2467C0">Vectorized String Operations</h1>

In [ ]:
movies.head()

<p style="font-family: Arial; font-size:1.35em;color:#2462C0; font-style:bold"><br>

Split 'genres' into multiple columns

<br> </p>

In [ ]:
movie_genres = movies['genres'].str.split('|', expand=True)

In [ ]:
movie_genres[:10]

<p style="font-family: Arial; font-size:1.35em;color:#2462C0; font-style:bold"><br>

Add a new column for comedy genre flag

<br> </p>

In [ ]:
movie_genres['isComedy'] = movies['genres'].str.contains('Comedy')

In [ ]:
movie_genres[:10]

<p style="font-family: Arial; font-size:1.35em;color:#2462C0; font-style:bold"><br>

Extract year from title e.g. (1995)

<br> </p>

In [ ]:
movies['year'] = movies['title'].str.extract('.*\((.*)\).*', expand=True)

In [ ]:
movies.tail()

<p style="font-family: Arial; font-size:1.35em;color:#2462C0; font-style:bold"><br>

More here: http://pandas.pydata.org/pandas-docs/stable/text.html#text-string-methods
<br> </p>